<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/application"></ion-back-button>
    </ion-buttons>
    <ion-title>Part Details</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-segment mode="md" [(ngModel)]="type" value="ASC" color="primary" scrollable style="font-size: small;">
    <ion-segment-button value="Specification" style="font-size: small;">
      <ion-label>Specification</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="where" style="font-size: small;">
      <ion-label>Where to <br>use</ion-label>
    </ion-segment-button> -->
    <ion-segment-button value="Suit" style="font-size: small;">
      <ion-label>Suits These <br>Model</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type" style="font-size: small;">
    <div *ngSwitchCase="'Specification'">
      <ion-card mode="md">

        <div class="text-center pt-2">
          <ion-label class="text-danger"><u>Part Details</u></ion-label>
        </div>
        <ion-grid style="font-size: small;">
          <ion-row *ngIf ="getOldPartNo ">
            <ion-col size="4" class="text-success">Old Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{getOldPartNo}}</ion-col>
          </ion-row >

          <ion-row *ngIf ="getNewPartNo">
            <ion-col size="4" class="text-success">New Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{getNewPartNo}}</ion-col>
          </ion-row>
            <ion-row>
            <ion-col size="4" class="text-success">OEM</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{getMakeName}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4" class="text-success">OEM Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{getOemPartNo}}</ion-col>
          </ion-row>
 
         <ion-row>
            <ion-col size="4" class="text-success">Engine</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{getEngineName}}</ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4" class="text-success">Application</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{getApplication}}</ion-col>
          </ion-row>
        </ion-grid>

        <div class="text-center">
          <ion-label class="text-danger"><u>Kit Details</u></ion-label>
        </div>

        <div *ngFor ='let a of applicationPartDetailsJson'>
        <ion-grid style="font-size: small;">

          <ion-row *ngIf ="a.overhaulkitoldpartno">
            <ion-col size="6" class="text-success">Overhaul Kit Old Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.overhaulkitoldpartno}}</ion-col>
               </ion-row>

        <ion-row  *ngIf ="a.overhaulkit">
            <ion-col size="6" class="text-success">Overhaul Kit</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.overhaulkit}}</ion-col>
          </ion-row>

          <ion-row  *ngIf ="a.BlackPlateOldPartNo">
            <ion-col size="6" class="text-success">Back Plate Old Part No.</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.BlackPlateOldPartNo}}</ion-col>
          </ion-row>

         <ion-row *ngIf ="a.BlackPlateNewPartNo">
            <ion-col size="6" class="text-success">Back Plate New Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.BlackPlateNewPartNo}}</ion-col>
          </ion-row>


          <ion-row *ngIf ="a.secondarykitoldpartno">
            <ion-col size="6" class="text-success">Secondary Kit Old Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.secondarykitoldpartno}}</ion-col>
          </ion-row>
          <ion-row *ngIf ="a.secondarykitnewpartno">
            <ion-col size="6" class="text-success">Secondary Kit New Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.secondarykitnewpartno}}</ion-col>
          </ion-row>

          <ion-row *ngIf ="a.gaskitOldPartNo">
            <ion-col size="6" class="text-success">Gasket Kit old Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.gaskitOldPartNo}}</ion-col>
          </ion-row>

          <ion-row *ngIf ="a.gaskitNewPartNo">
            <ion-col size="6" class="text-success">Gasket Kit New Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.gaskitNewPartNo}}</ion-col>
          </ion-row>

          <ion-row *ngIf ="a.mrp">
            <ion-col size="6" class="text-success">MRP</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.mrp}}</ion-col>
          </ion-row>
          
          <ion-row *ngIf ="a.listprice">
            <ion-col size="6" class="text-success">Sale Price</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{a.listprice}}</ion-col>
          </ion-row>


            <ion-col size="12" class="ion-text-center" *ngIf ="a.Image !== 'N/A'" >
              <img src="../../../../assets/CentralHousing.jpg" height="150px" (click)="openPreview()">
            </ion-col>

         
        </ion-grid>
      </div>
      </ion-card>
    </div>

    <!-- <div *ngSwitchCase="'where'">
      <div class="p-2">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ASHOK LEYLAND
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">6566902001</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">126519020158</ion-col>

                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">F8396200</ion-col>

                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">COMMERCIAL VEHICLE</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">MCV/HCV</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">4CT</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">Industrial application</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                VE COMMERCIAL VEHICLES LTD
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">6566902007</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">126529020270</ion-col>
                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">ID304588</ion-col>
                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">COMMERCIAL VEHICLE</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">LCV</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">E683 BS III</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">20.15/20.16/31.25/30.25XP COWL</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                KIRLOSKAR OIL ENGINES LTD
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">5966902019</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">125919020317</ion-col>
                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">4H.1519.01.0</ion-col>
                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">INDUSTRIAL</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">N AUTO</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">4R1040 BS III</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">CAT/ TAREX/ ECL/ BEML Backhoe Loader</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div> -->

    <div *ngSwitchCase="'Suit'">
      <div class="p-2">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                FIAT INDIA AUTOMOBILES PVT. LTD.
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">54359700014</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">203539020209</ion-col>

                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">00552135550E</ion-col>

                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">PASSENGER VEHICLE</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">CAR</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">1.25L MULTIJET(90HP)</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">Linea, Punto 90 Ps , Avventura</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                TATA MOTORS - PVBU
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">54359700014</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">203539020209</ion-col>
                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">00552135550E</ion-col>
                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">PASSENGER VEHICLE</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">CAR</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">1.25L MULTIJET(90PS)</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">Manza, Vista 90, ZEST</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </div>
    </div>


  </div>


</ion-content>
