<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="ion-text-center pt-2">
 <ion-text color="primary"><b>{{alertName}}</b></ion-text>
  </div>

  <div class="pt-2">
    <ion-grid>
      <ion-row>
        <ion-col size="6"  >
          <div class="ion-text-end" > 
            <ion-button  color="lightblue" (click)="cancel()">Cancel</ion-button>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="ion-text-center">
            <ion-button color="lightblue" (click)="okay(alertName)">Okay</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>