<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/segmentmake"></ion-back-button>
    </ion-buttons>
    <ion-title>Application</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="px-2 pt-1" style="font-size: small;">
    <ion-text color="danger" class="headertext">
     {{segmentName}}
    </ion-text> >
    <ion-text color="danger" class="headertext">
      {{subSegmentName}}
    </ion-text> >
    <ion-text color="danger" class="headertext">
      {{makeName}}
    </ion-text>
  </div>


  <div class="table-responsive p-1">
    <table class="table table-striped">
      <thead>
        <tr class="tblHead">
          <th class="ion-text-center">#</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">Application</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let a of segmentApplicationJson ;let i=index" >
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">
            <span *ngIf="a.oldpartno" ><u class="text-danger" (click)="gotoSegmentPartDetails(a)">{{a.oldpartno}}</u> /<br></span> 
            <u class="text-danger"  (click)="gotoSegmentPartDetails(a)">{{a.newpartno}}</u>
          </td>
         
        

          <td class="ion-text-center ion-text-nowrap">{{a.oempartno}}</td>
          <td class="ion-text-center ion-text-nowrap">{{a.engine}}</td>
          <td class="ion-text-center ion-text-nowrap">{{a.application}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
