<ion-content>
  <ion-slides [options]="sliderOpts">
    <ion-slide>
      <div class="swiper-zoom-container">
        <img src="{{ imgs }}">
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="4" class="ion-text-center">
      <ion-button (click)="zoom(false)" size="small" color="primary" shape="round">
        <ion-icon name="remove" slot="start"></ion-icon>
        Zoom out
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button (click)="close()" size="small" color="danger" shape="round">
        <ion-icon name="close" slot="start"></ion-icon>
        close
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button (click)="zoom(true)" size="small" color="primary" shape="round">
        <ion-icon name="add" slot="start"></ion-icon>
        Zoom In
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
