<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/makesegment"></ion-back-button>
    </ion-buttons>
    <ion-title>Sub Segment</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-2 pt-1" style="font-size: small;">
    <ion-text color="danger" class="headertext">
     {{ getMakeName}}
    </ion-text> >
    <ion-text color="danger" class="headertext">
     {{  getSegmentName}}
    </ion-text>
  </div>
  <ion-list mode="md" lines="full" style="font-size: 10px;">
    <ion-item *ngFor="let s of subSegmentListJson"  (click)="gettoApplication(s.subsegment)">
      <i class="fa fa-chevron-right arrowcolor" slot="end" aria-hidden="true"></i>
      <ion-label  class="ion-text-wrap">{{s.subsegment}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
