ion-button{
    
    width: 140px;
    font-size: 16px;
    height: 40px;
    
}

span{
    font-size: 14px;
    
}
ion-label{
font-size: 16px;


}
ion-input{
    font-size: 14px;
    
}

.customfontsize{
    font-size: 14px;
    
}