<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">


    <form [formGroup]="loginForm" novalidate>

      <div class="form-group">
        <label for="username">Username <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter Username">
        <div class="text-danger"
          *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">
          * Required
        </div>

      </div>

      <div class="form-group">
        <label for="password">Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" id="password" formControlName="password"
          placeholder="Enter Password">
        <div class="text-danger"
          *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">
          * Required
        </div>
      </div>

      <div class="pt-2">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="ion-text-end"> 
                <ion-button   color="lightblue" (click)="forGotPassword()">Forgot Password</ion-button>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-left">
                <ion-button  (click)="onFormSubmit(loginForm.value)" color="lightblue">Login</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </form>
  </div>
</ion-content>
