<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" [(ngModel)]="type" value="ASC" color="primary" scrollable>
    <ion-segment-button value="SalesTeam">
      <ion-label>Sales Team</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Contact">
      <ion-label>Contact</ion-label>
    </ion-segment-button>
  </ion-segment>



  <div [ngSwitch]="type" style="font-size: small;">
    <div *ngSwitchCase="'SalesTeam'">
      <div class="p-2">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ng-select [items]="states" [searchable]="true" #selectState
                (close)="selectState.blur(); selectState.focus()" placeholder="State" dropdownPosition="bottom">
              </ng-select>
            </ion-col>
            <ion-col size="6">
              <ng-select [items]="city" [searchable]="true" #selectCity (close)="selectCity.blur(); selectCity.focus()"
                placeholder="City" dropdownPosition="bottom">
              </ng-select>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <ion-button size="small">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>


        <div class="table-responsive p-1">
          <table class="table table-striped">
            <thead>
              <tr class="tblHead">
                <th class="ion-text-center">#</th>
                <th class="ion-text-center ion-text-nowrap">Name</th>
                <th class="ion-text-center ion-text-nowrap">Address</th>
                <th class="ion-text-center">Email</th>
                <th class="ion-text-center">Mobile No</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ion-text-center ion-text-nowrap">1</td>
                <td class="ion-text-center ion-text-nowrap">Suresh</td>
                <td class="ion-text-center ion-text-nowrap"> Velachery</td>
                <td class="ion-text-center ion-text-nowrap">suresh@brainmagic.info</td>
                <td class="ion-text-center ion-text-nowrap">7904768052</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div *ngSwitchCase="'Contact'">
      <div class="p-2">
        <form [formGroup]="feedbackForm" novalidate>

          <div class="form-group pb-2">
            <label for="subject">Contact Type <span class="text-danger">*</span></label>
            <ng-select [items]="ContactTypeArr" [searchable]="false" #selectContactType formControlName="contactType"
              (close)="selectContactType.blur(); selectContactType.focus()" placeholder="Contact Type"
              dropdownPosition="bottom">
            </ng-select>

            <div class="errorMsg"
              *ngIf="feedbackForm.controls.contactType.touched && feedbackForm.controls.contactType.errors?.required">
              * Required
            </div>


          </div>

          <div class="form-group pb-2">
            <label for="subject">Subject <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="subject" formControlName="subject" placeholder="Enter Subject">
            <div class="errorMsg"
              *ngIf="feedbackForm.controls.subject.touched && feedbackForm.controls.subject.errors?.required">
              * Required
            </div>

          </div>

          <div class="form-group pb-2">
            <label for="message">Message <span class="text-danger">*</span></label>
            <textarea cols="10" rows="5" class="form-control" formControlName="message"
              placeholder="Enter your message"></textarea>
          </div>
          <div class="errorMsg"
            *ngIf="feedbackForm.controls.message.touched && feedbackForm.controls.message.errors?.required">
            * Required
          </div>

          <ion-grid class="ion-no-padding pt-2">
            <ion-row>
              <ion-col size="4">Attach File</ion-col>
              <ion-col size="6">
                <ion-button size="small" shape="round">Upload</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>


          <div class="ion-text-center pt-2">
            <ion-button expand="full" mode="md" (click)="onFormSubmit()">Submit</ion-button>
          </div>

        </form>


      </div>
    </div>


  </div>

  <!-- <ion-card mode="md">
    <ion-card-header>
      <ion-card-title>Registered Office</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: large;">
      Turbo Energy Private Limited,<br>
      67 Chamiers Road, Chennai- 600028
    </ion-card-content>
  </ion-card>

  <ion-card mode="md">
    <ion-card-header>
      <ion-card-title>Plant Address</ion-card-title>
    </ion-card-header>
    <ion-card-content style="font-size: large;">
      Turbo Energy Private Limited,<br>
      Pulivalam, Banavaram,<br>
      Vellore, Tamil Nadu, 632505
    </ion-card-content>
  </ion-card> -->

</ion-content>
