<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/applications"></ion-back-button>
    </ion-buttons>
    <ion-title>Part</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="px-2 pt-2" style="font-size: small;">
    <ion-text color="danger" class="headertext">
     {{ getApplicationName}}
    </ion-text> 
  
  </div>

  <div class="pt-2">
  
  <div class="table-responsive p-1" style="font-size: small;">
    <table class="table table-striped">
      <thead>
        <tr class="tblHead">
          <th class="ion-text-center">S.No</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">MRP</th>
          <th class="ion-text-center ion-text-nowrap">Sales Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let a of applicationListJson ; let i=index">
          <td class="ion-text-center ion-text-nowrap">{{i+1}}</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" (click)="gotoSegmentPartDetails(a)" >{{a.oldpartno}}</u> /<br>
            <u class="text-danger"  (click)="gotoSegmentPartDetails(a)" > {{a.newpartno}}</u>
          </td>
          
          <td class="ion-text-center ion-text-nowrap">{{a.oempartno}}</td>
          <td class="ion-text-center ion-text-nowrap">{{a.engine}}</td>
          <td class="ion-text-center ion-text-nowrap">{{a.mrp}}</td>
          <td class="ion-text-center ion-text-nowrap">{{a.salesprice}}</td>
        </tr>

       
      </tbody>
    </table>
  </div>
</div>
</ion-content>
