<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">
    <mat-accordion>
      <mat-expansion-panel hideToggle #xyz expanded="true">
        <mat-expansion-panel-header class="panelheader">
          <mat-panel-title class="titlestyle" color="primary">Notification Title</mat-panel-title>
          <i *ngIf="!xyz.expanded" class="fa fa-chevron-down titlestyle" style="color:primary;" aria-hidden="true"></i>
          <i *ngIf="xyz.expanded" class="fa fa-chevron-up titlestyle" style="color: primary;" aria-hidden="true"></i>
        </mat-expansion-panel-header>
        <div class="pt-1">
          <p class="pt-2 pl-3">
            Notification Description ..........
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</ion-content>
