<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Vides / PDF</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divCenter">
    <div class="p-2">
      <ion-button expand="full" fill="outline" shape="round" routerLink="/videos">
        <ion-icon name="videocam-outline" slot="start"></ion-icon>
        Videos
      </ion-button>
    </div>

    <div class="p-2">
      <ion-button expand="full" fill="outline" shape="round" routerLink="/pdf">
        <i class="fa fa-file-pdf-o" slot="start"></i>&nbsp;
        PDF
      </ion-button>
    </div>

  </div>

</ion-content>