<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6">
        <ion-card mode="md" routerLink="/editprofile">
          <div class="ion-text-center">
            <img src="../../../assets/icon/editprofile.png">
            <p class="text-success">Edit Profile</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card mode="md">
          <div class="ion-text-center">
            <img src="../../../assets/icon/googleplay.png">
            <p class="text-success">App Version (1.0.0)</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
