<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/make"></ion-back-button>
    </ion-buttons>
    <ion-title>Segment</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-2 text-center">
    <ion-text color="danger" class="headertext">
    {{getMakeName}}
    </ion-text>
  </div>

  <ion-list mode="md" lines="full" style="font-size: 10px;">
    <ion-item *ngFor="let s of segmentListJson"  (click)="gotoMakeSubSegment(s.segment)">
      <i class="fa fa-chevron-right arrowcolor" slot="end" aria-hidden="true"></i>
      <ion-label  class="ion-text-wrap">{{s.segment}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
