<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-1">

    <div class="form-group">
      <label class="text-success">Search By {{mode}} <span class="text-danger">*</span></label>
      <input type="text" placeholder="Enter {{mode}}" class="form-control">
      <div class="pt-2 ion-text-center">
        <ion-button size="small">
          Search
        </ion-button>
      </div>
    </div>

  </div>
  <div class="table-responsive p-1" style="font-size: small;">
    <table class="table table-striped">
      <thead>
        <tr class="tblHead">
          <th class="ion-text-center">#</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">Application</th>
          <th class="ion-text-center">MRP</th>
          <th class="ion-text-center ion-text-nowrap">Sales Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ion-text-center ion-text-nowrap">1</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" routerLink="/segmentpartdetails"> 4341902031</u>/ <br>
            <u class="text-danger" routerLink="/segmentpartdetails"> 104319020360</u>
          </td>          
          <td class="ion-text-center ion-text-nowrap">006016438H1</td>
          <td class="ion-text-center ion-text-nowrap"> 40 Kva CPCB II</td>
          <td class="ion-text-center ion-text-nowrap">Genset</td>
          <td class="ion-text-center ion-text-nowrap">1,000</td>
          <td class="ion-text-center ion-text-nowrap">1,000</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="pt-2">
    <ion-list lines="full">
      <ion-item *ngFor="let s of searchArr" detail routerLink="/searchbypartno">
        <div slot="start">
          <ion-icon size="large" name="search-outline"></ion-icon>
        </div>
        <ion-label class="ion-text-wrap">
          {{s}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div> -->


</ion-content>
