<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Price List</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ng-select  [items]="makeNameJson" class="ngSelectFontSize" [(ngModel)]="makeName"  bindLabel="make"(change)="getSegmentDetails($event)"  [searchable]="true" #selectMake (close)="selectMake.blur(); selectMake.focus()"
          placeholder="Make" dropdownPosition="bottom">
        </ng-select>
      </ion-col>
      <ion-col size="6">
        <ng-select  [items]="segmentJson" class="ngSelectFontSize" [(ngModel)]="segmentName" bindLabel="segment" [searchable]="true" #selectSegment
          (close)="selectSegment.blur(); selectSegment.focus()" placeholder="Segment" dropdownPosition="bottom">
        </ng-select>
      </ion-col>
      <ion-col size="6">
        <input type="text" placeholder="Old / New Part No" class="form-control">
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button size="small">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="table-responsive p-1" style="font-size: small;">
    <table class="table table-striped">
      <thead>
        <tr class="tblHead">
          <th class="ion-text-center">#</th>
          <th class="ion-text-center ion-text-nowrap">Old / New Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">Application</th>
          <th class="ion-text-center">MRP</th>
          <th class="ion-text-center ion-text-nowrap">Sales Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ion-text-center ion-text-nowrap">1</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" routerLink="/segmentpartdetails"> 4341902031</u> /<br>
            <u class="text-danger" routerLink="/segmentpartdetails"> 104319020360</u>
          </td>          
          <td class="ion-text-center ion-text-nowrap">006016438H1</td>
          <td class="ion-text-center ion-text-nowrap"> 40 Kva CPCB II</td>
          <td class="ion-text-center ion-text-nowrap">Genset</td>
          <td class="ion-text-center ion-text-nowrap">1,000</td>
          <td class="ion-text-center ion-text-nowrap">1,000</td>
        </tr>

        <tr>
          <td class="ion-text-center ion-text-nowrap">2</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" routerLink="/segmentpartdetails"> 53269706499</u> /<br>
            <u class="text-danger" routerLink="/segmentpartdetails"> 126519020053</u>
          </td>
          <td class="ion-text-center ion-text-nowrap">F8235600</td>
          <td class="ion-text-center ion-text-nowrap"> W04 CT</td>
          <td class="ion-text-center ion-text-nowrap">Industrial application<br> ATLAS CAPCO</td>
          <td class="ion-text-center ion-text-nowrap">1,000</td>
          <td class="ion-text-center ion-text-nowrap">1,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
