<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>What's New</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-responsive p-1" style="font-size: small;">
    <table class="table table-striped">
      <thead>
        <tr class="tblHead">
          <th class="ion-text-center">#</th>
          <th class="ion-text-center ion-text-nowrap">Old/ NEW Part No</th>
          <th class="ion-text-center ion-text-nowrap">OEM Part No</th>
          <th class="ion-text-center">Engine</th>
          <th class="ion-text-center">Application</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="ion-text-center ion-text-nowrap">1</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" routerLink="/segmentpartdetails">4341902031</u>/<br>
            <u class="text-danger" routerLink="/segmentpartdetails"> 104319020360</u>
          </td>
          
          <td class="ion-text-center ion-text-nowrap"> 006016438H1</td>
          <td class="ion-text-center ion-text-nowrap"> 40 Kva CPCB II</td>
          <td class="ion-text-center ion-text-nowrap">Genset</td>

        </tr>

        <tr>
          <td class="ion-text-center ion-text-nowrap">2</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" routerLink="/segmentpartdetails">4341902031</u>/<br>
            <u class="text-danger" routerLink="/segmentpartdetails"> 126519020053</u>
          </td>          
          <td class="ion-text-center ion-text-nowrap"> 006016438H1</td>
          <td class="ion-text-center ion-text-nowrap"> W04 CT</td>
          <td class="ion-text-center ion-text-nowrap">Industrial application<br> ATLAS CAPCO</td>
        </tr>

        <tr>
          <td class="ion-text-center ion-text-nowrap">3</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" routerLink="/segmentpartdetails">4341902031</u>/<br>
            <u class="text-danger" routerLink="/segmentpartdetails"> 104319020360</u>
          </td>
          <td class="ion-text-center ion-text-nowrap"> 006016438H1</td>
          <td class="ion-text-center ion-text-nowrap"> 40 Kva CPCB II</td>
          <td class="ion-text-center ion-text-nowrap">Genset</td>

        </tr>

        <tr>
          <td class="ion-text-center ion-text-nowrap">4</td>
          <td class="ion-text-center ion-text-nowrap">
            <u class="text-danger" routerLink="/segmentpartdetails">4341902031</u>/<br>
            <u class="text-danger" routerLink="/segmentpartdetails"> 126519020053</u>
          </td>
          <td class="ion-text-center ion-text-nowrap"> 006016438H1</td>
          <td class="ion-text-center ion-text-nowrap"> W04 CT</td>
          <td class="ion-text-center ion-text-nowrap">Industrial application<br> ATLAS CAPCO</td>
        </tr>


      </tbody>
    </table>
  </div>
</ion-content>
