<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Network</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" [(ngModel)]="type" value="ASC" color="primary" scrollable>
    <ion-segment-button value="Distributor">
      <ion-label>Distributor</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ASC">
      <ion-label>ASC</ion-label>
    </ion-segment-button>
  </ion-segment>



  <div [ngSwitch]="type" style="font-size: small;">
    <div *ngSwitchCase="'Distributor'">
      <div class="p-1">
        <ion-grid >
          <ion-row>
            <ion-col size="6">
              <ng-select [items]="states" [searchable]="true" #selectState
                (close)="selectState.blur(); selectState.focus()" placeholder="State" dropdownPosition="bottom">
              </ng-select>
            </ion-col>
            <ion-col size="6">
              <ng-select [items]="city"  [searchable]="true" #selectCity
              (close)="selectCity.blur(); selectCity.focus()" placeholder="City" dropdownPosition="bottom">
            </ng-select>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <ion-button size="small">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      
        <div class="table-responsive p-1">
          <table class="table table-striped">
            <thead>
              <tr class="tblHead">
                <th class="ion-text-center">#</th>
                <th class="ion-text-center ion-text-nowrap">Name</th>
                <th class="ion-text-center ion-text-nowrap">Address</th>
                <th class="ion-text-center">Email</th>
                <th class="ion-text-center">Mobile No</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ion-text-center ion-text-nowrap">1</td>
                <td class="ion-text-center ion-text-nowrap">Suresh</td>
                <td class="ion-text-center ion-text-nowrap"> Velachery</td>
                <td class="ion-text-center ion-text-nowrap">suresh@brainmagic.info</td>
                <td class="ion-text-center ion-text-nowrap">7904768052</td>
              </tr>               
            </tbody>
          </table>
        </div>
      
      </div>
    </div>

    <div *ngSwitchCase="'ASC'">
      <div class="p-1">
        <ion-grid >
          <ion-row>
            <ion-col size="6">
              <ng-select [items]="states" [searchable]="true" #selectState
                (close)="selectState.blur(); selectState.focus()" placeholder="State" dropdownPosition="bottom">
              </ng-select>
            </ion-col>
            <ion-col size="6">
              <ng-select [items]="city"  [searchable]="true" #selectCity
              (close)="selectCity.blur(); selectCity.focus()" placeholder="City" dropdownPosition="bottom">
            </ng-select>
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <ion-button size="small">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="table-responsive p-1">
          <table class="table table-striped">
            <thead>
              <tr class="tblHead">
                <th class="ion-text-center">#</th>
                <th class="ion-text-center ion-text-nowrap">ASC Name</th>
                <th class="ion-text-center ion-text-nowrap">Address</th>
                <th class="ion-text-center">Email</th>
                <th class="ion-text-center">Mobile No</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="ion-text-center ion-text-nowrap">1</td>
                <td class="ion-text-center ion-text-nowrap">BM Auto Service</td>
                <td class="ion-text-center ion-text-nowrap"> Velachery</td>
                <td class="ion-text-center ion-text-nowrap">BM@brainmagic.info</td>
                <td class="ion-text-center ion-text-nowrap">9876543210</td>
              </tr>               
            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>



</ion-content>