* {
  outline: none;
  font-family: "Conv_Lato-Thin", "Lato";
  // --background: #f3f4f5;
}



.divCenter {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.errorMsg {
  color: var(--ion-color-danger);
  font-size: small;
}
.tablehead {
  background-color: #a2ac91;
  color: white;
  font-size: small;
}
.tblHead {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  font-size: small;
}

.customToast {
  --background: var(--ion-color-dark);
  --color: var(--ion-color-light);
}

.arrowcolor{
  color: #616e36;
}


.alertclass{
--height: 35%;
padding: 15px;
--border-radius: 15px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 0rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}


.ngSelectFontSize{
  font-size: 10px;

}

.headertext{
  font-size: 12px;
}
.custom-modal {
  --height: 50%;
  --border-radius: 10px;
  padding: 25px;
}
.transparent-modal {
  .modal-wrapper {
    --background: rgba(44, 39, 45, 0.2);
  }
}

textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
ion-select {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
