<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/others"></ion-back-button>
    </ion-buttons>
    <ion-title>PDF</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">
    <div *ngFor="let p of pdfArr ;let i = index;">
      <ion-card mode="md" >
        <ion-item color="primary" routerLink="/pdfdetails">
          <i class="fa fa-chevron-right" slot="end"></i>
          <ion-label>{{p}}</ion-label>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
