<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>

  <div class="divCenter" *ngIf="isShow">
    <ion-spinner name="bubbles" size="large" color="primary"></ion-spinner>
  </div>

  <div class="pdf-container">
    <pdf-viewer [src]="url" [render-text]="true" [original-size]="false" (on-progress)="onProgress($event)">
    </pdf-viewer>
  </div>
</ion-content>