<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" mode="ios" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Suresh</ion-list-header>
          <ion-note>suresh@brainmagic.info</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="true"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-button (click)="logoutFn()" expand="full">
          Logout
        </ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet [swipeGesture]="false" id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
