<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Register</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="pt-2 px-3" style="font-size: medium;">

    <form [formGroup]="turboRegisterForm" autocomplete="off">

      <div class="pt-2">

        <ion-label>Select User Type <span class="text-danger"> *</span></ion-label>
        <div class="pt-1 ">
          <ng-select class=" customfontsize" [searchable]="true" [clearable]="false" #selectUsertype placeholder="User Type" 
          (close)="selectUsertype.blur(); selectUsertype.focus()"  dropdownPosition="bottom"
          [(items)]="selectusertype" formControlName="usertype">
          </ng-select>
        </div>

        <div
          *ngIf="turboRegisterForm.get('usertype').hasError('required') && turboRegisterForm.get('usertype').touched">
          <span class="text-danger px-3">Required</span>
        </div>
      </div>

      <div class="pt-2 ">

        <ion-label>Name <span class="text-danger"> *</span></ion-label>
        <div class="pt-1 ">
          <ion-input class="form-control px-2" formControlName="name" type="text" placeholder="Enter Name"></ion-input>
        </div>
        <div *ngIf="turboRegisterForm.get('name').hasError('required') &&  turboRegisterForm.get('name').touched">
          <span class="text-danger px-3">Required</span>
        </div>
      </div>

      <div class="pt-2 ">

        <ion-label>Mobile No <span class="text-danger"> *</span></ion-label>
        <div class="pt-1 ">
          <ion-input class="form-control px-2" formControlName="mobileno" inputmode="numeric"
            placeholder="Enter Mobile No"></ion-input>
        </div>
        <div
          *ngIf="turboRegisterForm.get('mobileno').hasError('required') &&   turboRegisterForm.get('mobileno').touched">
          <span class="text-danger px-3">Required</span>
        </div>

        <div
          *ngIf="turboRegisterForm.get('mobileno').hasError('minlength') && turboRegisterForm.get('mobileno').touched">
          <span class="text-danger px-3">Mobile no must be 10 digits</span>
        </div>
        <div
          *ngIf="turboRegisterForm.get('mobileno').hasError('maxlength') && turboRegisterForm.get('mobileno').touched">
          <span class="text-danger px-3">Mobile no must be 10 digits</span>
        </div>

      </div>

      <div class="pt-2 ">

        <ion-label>Email <span class="text-danger"> *</span></ion-label>
        <div class="pt-1 ">
          <ion-input class="form-control px-2" formControlName="mail" type="text" placeholder="Enter Email"></ion-input>
        </div>
        <div *ngIf="turboRegisterForm.get('mail').hasError('required') &&  turboRegisterForm.get('mail').touched">
          <span class="text-danger px-3">Required</span>
        </div>
        <div *ngIf="turboRegisterForm.get('mail').hasError('pattern') ">
          <span class="text-danger px-3">Inavlid mail address</span>
        </div>
      </div>

      <div class="pt-2 ">

        <ion-label>Select State<span class="text-danger"> *</span></ion-label>
        <div class="pt-1 ">
          <ng-select formControlName="state" class="customfontsize" [clearable]="false" [searchable]="true" #selectUsertype
          (close)="selectUsertype.blur(); selectUsertype.focus()" dropdownPosition="bottom"
          [(items)]="selectstate" placeholder="Select State">
          </ng-select>
        </div>
        <div *ngIf="turboRegisterForm.get('state').hasError('required') &&  turboRegisterForm.get('state').touched">
          <span class="text-danger px-3">Required</span>
        </div>
      </div>

      <div class="pt-2 ">

        <ion-label>City<span class="text-danger"> *</span></ion-label>
        <div class="pt-1 ">
          <ion-input class="form-control px-2" formControlName="city" type="text" placeholder="Enter City"></ion-input>
        </div>
        <div *ngIf="turboRegisterForm.get('city').hasError('required') &&  turboRegisterForm.get('city').touched">
          <span class="text-danger px-3">Required</span>
        </div>
      </div>

      <div class="pt-2 ">

        <ion-label>Pincode<span class="text-danger"> *</span></ion-label>
        <div class="pt-1 ">
          <ion-input class="form-control px-2" formControlName="pincode" inputmode="numeric"
            placeholder="Enter Pincode"></ion-input>
        </div>
        <div *ngIf="turboRegisterForm.get('pincode').hasError('required') &&  turboRegisterForm.get('pincode').touched">
          <span class="text-danger px-3">Required</span>
        </div>
        <div *ngIf="turboRegisterForm.get('pincode').hasError('minlength') && turboRegisterForm.get('pincode').touched">
          <span class="text-danger px-3">Pincode must be 6 digits</span>
        </div>
        <div
          *ngIf="turboRegisterForm.get('pincode').hasError('maxlength') &&  turboRegisterForm.get('pincode').touched">
          <span class="text-danger px-3">Pincode minimum 6 digits</span>
        </div>


      </div>

      <div  class="ion-text-center ion-padding-top" *ngIf="enableOtp">
        
          <ng-otp-input  [config]="{length: 4, allowNumbersOnly: true}">
          </ng-otp-input>
          <br>
          <div>
            <ion-text color="red" class="ion-padding-top">Please Wait for 30 to 120 Seconds</ion-text>
          </div>
          <div>
            <ion-text color="red">If You Not Received OTP Press Resend</ion-text>
          </div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div class="ion-text-end"> 
                <ion-button  [disabled]="!turboRegisterForm.valid" (click)="generateotp()" color="lightblue">{{otpChangeText}}</ion-button>
              </div>
            </ion-col>
            <ion-col size="6">
              <div class="ion-text-left">
                <ion-button [disabled]="!turboRegisterForm.valid" (click)="onFormSubmit(turboRegisterForm.value)" color="lightblue">Register</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
     
    </form>
  </div>



</ion-content>


<!-- <ion-content>
  <div class="" style="font-size: small;">
     <form [formGroup]="registerForm" autocomplete="off">
      <div class="form-group">
        <label class="col-sm-2 col-form-label">User Type <span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <ng-select [items]="usertypes" formControlName="usertype" [searchable]="true" #selectUsertype
            (close)="selectUsertype.blur(); selectUsertype.focus()" placeholder="User Type" dropdownPosition="bottom">
          </ng-select>
        </div>
      </div>
      <div class="errorMsg"
        *ngIf="registerForm.controls.usertype.touched && registerForm.controls.usertype.errors?.required">
        * Required
      </div>


      <div class="form-group">
        <label for="name">Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Name">
        <div class="errorMsg" *ngIf="registerForm.controls.name.touched && registerForm.controls.name.errors?.required">
          * Required
        </div>

      </div>

      <div class="form-group">
        <label for="mobileno">Mobile No <span class="text-danger">*</span></label>
        <input type="number" class="form-control" inputmode="numeric" id="mobileno" formControlName="mobileno"
          placeholder="Enter Mobile No">


        <div class="errorMsg"
          *ngIf="registerForm.controls.mobileno.touched && registerForm.controls.mobileno.errors?.required">
          * Required
        </div>
        <div class="errorMsg"
          *ngIf="registerForm.controls.mobileno.touched && registerForm.controls.mobileno.errors?.min">
          Minimum value allowed is {{registerForm.controls.mobileno.errors?.min.min}} and you entered
          {{registerForm.controls.mobileno.errors?.min.actual}}
        </div>
        <div class="errorMsg"
          *ngIf="registerForm.controls.mobileno.touched && registerForm.controls.mobileno.errors?.max">
          Maximum value allowed is {{registerForm.controls.mobileno.errors?.max.max}} and you entered
          {{registerForm.controls.mobileno.errors?.max.actual}}
        </div>

      </div>

      <div class="form-group">
        <label for="email">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" inputmode="email" id="email" formControlName="email"
          placeholder="Enter Email">
        <div class="errorMsg"
          *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.required">
          * Required
        </div>
        <div class="errorMsg" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.email">
          * Check email format
        </div>
        <div class="errorMsg"
          *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.pattern">
          Please add your custom message as per pattern you added.
        </div>

      </div>

      <div class="form-group">
        <label class="col-sm-2 col-form-label">State <span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <ng-select [items]="states" formControlName="state" [searchable]="true" #selectState
            (close)="selectState.blur(); selectState.focus()" placeholder="State" dropdownPosition="top">
          </ng-select>
        </div>
      </div>
      <div class="errorMsg" *ngIf="registerForm.controls.state.touched && registerForm.controls.state.errors?.required">
        * Required
      </div>


      <div class="form-group">
        <label class="col-sm-2 col-form-label">City <span class="text-danger">*</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="city" placeholder="Enter city">
       <ng-select [items]="city" formControlName="city" [searchable]="true" #selectCity
            (close)="selectCity.blur(); selectCity.focus()" placeholder="City" dropdownPosition="top">
          </ng-select> -->
<!-- </div>
      </div>
      <div class="errorMsg" *ngIf="registerForm.controls.city.touched && registerForm.controls.city.errors?.required">
        * Required
      </div>


      <div class="form-group">
        <label for="pincode">Pincode <span class="text-danger">*</span></label>
        <input type="number" class="form-control" inputmode="numeric" id="pincode" formControlName="pincode"
          placeholder="Enter Pincode">
        <div class="errorMsg"
          *ngIf="registerForm.controls.pincode.touched && registerForm.controls.pincode.errors?.required">
          * Required
        </div>
        <div class="errorMsg"
          *ngIf="registerForm.controls.pincode.touched && registerForm.controls.pincode.errors?.min">
          Minimum value allowed is {{registerForm.controls.pincode.errors?.min.min}} and you entered
          {{registerForm.controls.pincode.errors?.min.actual}}
        </div>
        <div class="errorMsg"
          *ngIf="registerForm.controls.pincode.touched && registerForm.controls.pincode.errors?.max">
          Maximum value allowed is {{registerForm.controls.pincode.errors?.max.max}} and you entered
          {{registerForm.controls.pincode.errors?.max.actual}}
        </div>

      </div>
      <div class="pt-2">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="6" class="ion-text-end">
              <ion-button (click)="clear()" size="small" fill="clear" shape="round">
                Cancel
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button color="primary" size="small" (click)="onFormSubmit(registerForm.value)">Submit</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </form> -->
<!-- </div>
</ion-content>  -->