<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/videos"></ion-back-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-2 text-center">
    <ion-text color="danger">
      Training Videos
    </ion-text>
  </div>
  <ion-list lines="full">
    <ion-item (click)="demoVideo()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/icon/video.png">
      </ion-thumbnail>
      <ion-label>Video title</ion-label>
    </ion-item>
    <ion-item (click)="demoVideo()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/icon/video.png">
      </ion-thumbnail>
      <ion-label>Video title 2</ion-label>
    </ion-item>
    <ion-item (click)="demoVideo()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/icon/video.png">
      </ion-thumbnail>
      <ion-label>Video title 3</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
