<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="p-2">
    <form [formGroup]="feedbackForm" novalidate>

      <div class="form-group">
        <label for="subject">Subject <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="subject" formControlName="subject" placeholder="Enter Subject">
        <div class="errorMsg"
          *ngIf="feedbackForm.controls.subject.touched && feedbackForm.controls.subject.errors?.required">
          * Required
        </div>

      </div>

      <div class="form-group">
        <label for="message">Message <span class="text-danger">*</span></label>
        <textarea cols="10" rows="5" class="form-control" formControlName="message"
          placeholder="Enter your message"></textarea>
      </div>
      <div class="errorMsg"
        *ngIf="feedbackForm.controls.message.touched && feedbackForm.controls.message.errors?.required">
        * Required
      </div>

      <div class="ion-text-center pt-2">
        <ion-button size="small" mode="md" (click)="onFormSubmit()">Submit</ion-button>
      </div>

    </form>
  </div>

</ion-content>