<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="p-2">
    <form [formGroup]="editProfileForm">

      <div class="form-group">
        <label for="username">Username <span class="text-danger">*</span> </label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter Username">
        <div class="text-danger"
          *ngIf="editProfileForm.controls.username.touched && editProfileForm.controls.username.errors?.required">
          * Required
        </div>

      </div>

      <div class="form-group">
        <label for="email">Email <span class="text-danger">*</span> </label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Email-ID">
        <div class="text-danger"
          *ngIf="editProfileForm.controls.email.touched && editProfileForm.controls.email.errors?.required">
          * Required
        </div>

      </div>

      <div class="form-group">
        <label for="mobile">Mobile <span class="text-danger">*</span> </label>
        <input class="form-control" formControlName="mobile" placeholder="Enter Mobile">
      </div>
      <div class="text-danger"
        *ngIf="editProfileForm.controls.mobile.touched && editProfileForm.controls.mobile.errors?.required">
        * Required
      </div>

      <div class="pt-2 text-center">
        <ion-button size="small" (click)="onFormSubmit()">Submit</ion-button>
      </div>

    </form>
  </div>
</ion-content>
