<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Part Details</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment mode="md" [(ngModel)]="type" value="ASC" color="primary" scrollable style="font-size: small;">
    <ion-segment-button value="Specification" style="font-size: small;">
      <ion-label>Specification</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="where" style="font-size: small;">
      <ion-label>Where to <br>use</ion-label>
    </ion-segment-button> -->
    <ion-segment-button value="Suit" style="font-size: small;">
      <ion-label>Suits These <br>Model</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type" style="font-size: small;">
    <div *ngSwitchCase="'Specification'">
      <ion-card mode="md">
        <div class="text-center pt-2">
          <ion-label class="text-danger"><u>Part Details</u></ion-label>
        </div>

        <ion-grid style="font-size: small;">
          <ion-row *ngFor="let a of applicationListJson">
            <ion-col size="4" class="text-success">Old Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{a.oldpartno}}</ion-col>
        
            <ion-col size="4" class="text-success">New Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{a.newpartno}}</ion-col>
        
            <!-- <ion-col size="4" class="text-success">OEM</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{a.oempartno}}</ion-col> -->
        
            <ion-col size="4" class="text-success">OEM Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{a.oempartno}}</ion-col>
        
            <ion-col size="4" class="text-success">Engine</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{a.engine}}</ion-col>
        
            <ion-col size="4" class="text-success">Application</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="7.5">{{a.application}}</ion-col>
          </ion-row>
        </ion-grid>

        <div class="text-center">
          <ion-label class="text-danger"><u>Kit Details</u></ion-label>
        </div>

        <ion-grid style="font-size: small;">
          <ion-row *ngFor ="let b of applicationListJson"> 
          
            
            <ion-col size="6" class="text-success">Back Plate Old Part No.</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{b.bakcplateoldpartno}}</ion-col>

            <ion-col size="6" class="text-success">Back Plate New Part No.</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{b.bakcplatenewpartno}}</ion-col>

            <ion-col size="6" class="text-success">Secondary Kit Old Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{b.secondarykitoldpartno}}</ion-col>

            <ion-col size="6" class="text-success">Secondary Kit Old Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{b.secondarykitnewpartno}}</ion-col>

            <ion-col size="6" class="text-success">Secondary Kit New Part No</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5">{{b.secondarykitnewpartno}}</ion-col>

            <ion-col size="6" class="text-success">MRP</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5"></ion-col>

            <ion-col size="6" class="text-success">Sale Price</ion-col>
            <ion-col size="0.5">:</ion-col>
            <ion-col size="5.5"></ion-col>

            <!-- <ion-col size="12" class="ion-text-center" *ngIf="b.image && b.image !== 'N/A' && b.image !== ''" >
              <img [src]="b.image" height="150px" (click)="openPreview()">
            </ion-col> -->

          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

    <!-- <div *ngSwitchCase="'where'">
      <div class="p-2">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ASHOK LEYLAND
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">6566902001</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">126519020158</ion-col>

                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">F8396200</ion-col>

                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">COMMERCIAL VEHICLE</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">MCV/HCV</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">4CT</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">Industrial application</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                VE COMMERCIAL VEHICLES LTD
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">6566902007</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">126529020270</ion-col>
                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">ID304588</ion-col>
                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">COMMERCIAL VEHICLE</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">LCV</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">E683 BS III</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">20.15/20.16/31.25/30.25XP COWL</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                KIRLOSKAR OIL ENGINES LTD
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">5966902019</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">125919020317</ion-col>
                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">4H.1519.01.0</ion-col>
                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">INDUSTRIAL</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">N AUTO</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">4R1040 BS III</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">CAT/ TAREX/ ECL/ BEML Backhoe Loader</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div> -->

    <div *ngSwitchCase="'Suit'">
      <div class="p-2">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                FIAT INDIA AUTOMOBILES PVT. LTD.
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">54359700014</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">203539020209</ion-col>

                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">00552135550E</ion-col>

                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">PASSENGER VEHICLE</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">CAR</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">1.25L MULTIJET(90HP)</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">Linea, Punto 90 Ps , Avventura</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                TATA MOTORS - PVBU
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ion-grid>
              <ion-row>
                <ion-col size="6">Turbocharger Assy Old Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">54359700014</ion-col>
                <ion-col size="6">Turbocharger Assy New Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">203539020209</ion-col>
                <ion-col size="6">OEM Part No</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">00552135550E</ion-col>
                <ion-col size="6">Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">PASSENGER VEHICLE</ion-col>
                <ion-col size="6">Sub Segment </ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">CAR</ion-col>
                <ion-col size="6">Engine</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">1.25L MULTIJET(90PS)</ion-col>
                <ion-col size="6">Application</ion-col>
                <ion-col size="1">:</ion-col>
                <ion-col size="5">Manza, Vista 90, ZEST</ion-col>
              </ion-row>
            </ion-grid>


          </mat-expansion-panel>
        </mat-accordion>
        <br>
      </div>
    </div>


  </div>
</ion-content>
