<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Manufacture</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios" [(ngModel)]="ngSearchTerm" placeholder="Search"></ion-searchbar>

  <ion-list mode="md" lines="full" style="font-size: 10px;">
    <ion-item *ngFor="let m of makeListJson | filter : ngSearchTerm;"   (click)="gotoMakeSegment(m.make)">
      <i class="fa fa-chevron-right arrowcolor" slot="end" aria-hidden="true"></i>

      <ion-label class="ion-text-wrap">{{m.make}}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
