<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides mode="ios" pager="true" [options]="slidesOptions">
    <ion-slide>
      <img src="../../../assets/slider/slider1.jpeg">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/slider/slider2.jpeg">
    </ion-slide>
  </ion-slides>

  <ion-card mode="md">
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="ion-text-center borderBtmRight" (click)="chkLogin('productcatlogue')">
          <img class="img" src="../../../assets/icon/productcatlogue.png">
          <p class="text-danger">Product Catalogue</p>
        </ion-col>
        <ion-col size="4" class="ion-text-center borderBtmRight" (click)="chkLogin('make')">
          <img class="img" src="../../../assets/icon/make.png">
          <p class="text-danger">Manufacture</p>
        </ion-col>
        <ion-col size="4" class="ion-text-center borderBtm" (click)="chkLogin('segment')">
          <img class="img" src="../../../assets/icon/bus.png">
          <p class="text-danger">Segment</p>
        </ion-col>
     
      </ion-row>
      <ion-row>
        <ion-col size="4" class="ion-text-center borderRight" (click)="chkLogin('applications')">
          <img class="img" src="../../../assets/icon/application.png">
          <p class="text-danger">Application</p>
        </ion-col>
        <ion-col size="4" class="ion-text-center borderRight" (click)="chkLogin('pricelist')">
          <img class="img" src="../../../assets/icon/pricelist.png">
          <p class="text-danger">Price List</p>
        </ion-col>

        <ion-col size="4" class="ion-text-center borderBtm " (click)="chkLogin('network')">
          <img class="img" src="../../../assets/icon/network.png">
          <p class="text-danger">Network</p>
        </ion-col>

       
      </ion-row>
      <ion-row>
        <ion-col size="4" class="ion-text-center borderTopRight  " routerLink="/whatsnew">
          <img class="img" src="../../../assets/icon/whatsnew.png">
          <p class="text-danger">Whats New</p>
        </ion-col>      

        <ion-col size="4" class="ion-text-center borderTopRight borderBtm" routerLink="/contact">
          <img class="img" src="../../../assets/icon/contacts.png">
          <p class="text-danger">Contact</p>
        </ion-col>

        <ion-col size="4" class="ion-text-center borderBtm " routerLink="/notifications">
          <img class="img" src="../../../assets/icon/notification.png">
          <p class="text-danger">Notification</p>
        </ion-col>

        <ion-col size="4" class="ion-text-center borderTopRight" routerLink="/others">
          <img class="img" src="../../../assets/icon/video-pdf.png">
          <p class="text-danger">Video / PDF</p>
        </ion-col>

        
        <!-- <ion-col size="4" class="ion-text-center " routerLink="/feedback">
          <img class="img" src="../../../assets/icon/feedback.png">
          <p class="text-danger">Feedback</p>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </ion-card>

  <div class="ion-text-center">
    <!-- <ion-chip color="primary" outline="true" routerLink="/faq">
      <ion-icon name="help-circle-outline" color="primary"></ion-icon>
      <ion-text color="primary">
        FAQ
      </ion-text>
    </ion-chip> -->
    <ion-chip color="primary" outline="true" routerLink="/search/Part No">
      <ion-icon name="search-outline" color="primary"></ion-icon>
      <ion-text color="primary">
        Search By Part No
      </ion-text>
    </ion-chip>

    <ion-chip color="primary" outline="true" routerLink="/search/Kit No">
      <ion-icon name="search-outline" color="primary"></ion-icon>
      <ion-text color="primary">
        Search By Kit No
      </ion-text>
    </ion-chip>

  </div>

</ion-content>
