ion-slides {
    --bullet-background-active: var(--ion-color-danger);
}
.img {
    height: 45px;
}
.borderBtm {
    border-bottom: 1px solid #647434;
}
.borderRight {
    border-right: 1px solid #647434;
}
.borderBtmRight {
    border-right: 1px solid #647434;
    border-bottom: 1px solid #647434;
}
.borderTopRight {
    border-right: 1px solid #647434;
    border-top: 1px solid #647434;
}

