<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/others"></ion-back-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divCenter" *ngIf="( videosArr | filter:ngSearchTerm) as result">
    <ion-text color="primary" *ngIf="result.length === 0">
      No Details Found
    </ion-text>
  </div>

  <!-- <ion-searchbar mode="ios" [(ngModel)]="ngSearchTerm" placeholder="Search"></ion-searchbar> -->

  <ion-list class="ion-no-padding">
    <div *ngFor="let v of videosArr | filter : ngSearchTerm;let i = index;">
      <ion-card mode="md" >
        <ion-item color="primary" routerLink="/videosdetails">
          <i class="fa fa-chevron-right" slot="end"></i>
          <ion-label>{{v}}</ion-label>
        </ion-item>
      </ion-card>
    </div>
    </ion-list>
</ion-content>
