<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="pt-3">

  <form [formGroup]="forGotForm">
  <div class="px-2 pt-3">
    
    <ion-input class="form-control px-2" formControlName="email" placeholder="Enter Email"></ion-input>
     <div *ngIf="forGotForm.get('email').hasError('required') && forGotForm.get('email').touched">
      <span class="text-danger">Required</span>
     </div>
  </div>
</form>

<div class="ion-tex-center pt-2">
 
 <ion-text>{{getForGotAlert}}</ion-text>
</div>
  <div class="ion-text-center pt-3">
   <ion-button [disabled]="!forGotForm.valid" (click)="getPassword()" color="lightblue">Submit</ion-button>
  </div>
 
</ion-content>