<ion-header>
  <app-header></app-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/pdfdetails"></ion-back-button>
    </ion-buttons>
    <ion-title>PDF</ion-title>
    <ion-buttons slot="end" routerLink="/dashboard">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-item (click)="openPDFFn()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/icon/pdf.png">
      </ion-thumbnail>
      <ion-label>PDF 1</ion-label>
    </ion-item>
    <ion-item (click)="openPDFFn()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/icon/pdf.png">
      </ion-thumbnail>
      <ion-label>PDF 2</ion-label>
    </ion-item>
    <ion-item (click)="openPDFFn()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/icon/pdf.png">
      </ion-thumbnail>
      <ion-label>PDF 3</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
